body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
  color: #555;
  margin: 0;
  text-align: center;
}

/*index*/

#teletco {
  background-color: red;
  padding: 10px;
  color: white;
}

#teletco a {
  color: white;
  text-decoration: none;
}

#teletco * {
  display: inline;
}

#logoetmenu * {
  vertical-align: middle;
  margin: 0 200px 0 200px;
}

#logoetmenu i {
  color: red;
}

h1, h2 {
  color: red;
  font-family: Original Surfer, cursive;
}

h3 {
  color: green;
  font-family: Original Surfer, cursive;
}

.recherche {
  display: inline;
}

.recherche input {
  width: 90%;
  max-width: 400px;
  padding: 5px;
}

.recherche button {
  width: 10%;
  max-width: 400px;
  padding: 7px;
  background-color: red;
  border: 0;
  color: white;
}

.produit a:hover {
  text-decoration: underline;
}

.produit a p{
  background-color: red;
  display: inline;
  padding: 5px;
  border-radius: 5px;
}

.produit a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: red;
  padding-bottom: 5px;
}

footer p {
  background-color: red;
  color: white;
  padding: 10px;
}

/*login*/

form {
  margin: auto;
  width: 90%;
  max-width: 400px;
}

.row input, .row button {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.row button {
  width: 108%;
  background-color: red;
  color: white;
  border: none;
}

#maj {
  text-transform: uppercase;
}

#fx {
  margin-bottom: 150px;
}
